.index_body{
  background-image: url("../img/pollard_art.png");
  background-repeat: no-repeat;
  //background-position: center;
  //background-attachment: fixed;
  background-size: 100%;
  }

/*set up nav bar display for all pages*/
nav{
  display: inline;
}
/* horizontal list design */
.not_dropdown{
    background-color: rgba(255,255,255,.3);
		transition: all 0.4s ease-out;
    list-style-type: none;
    margin: 0;
		padding-left:1.5vw;
		padding-top: 2.0vw;
    padding-bottom: 2.0vw;
    overflow: hidden;
    color: black;

}
.not_dropdown:hover{
	/*transition: background-color 4s;*/
	background-color: rgba(255,255,255,.9);
  color: black;
  //font-size: 120%;
	transition: all 0.4s ease-out;

}
// .not_dropdown_image{
//     list-style-type: none;
//     margin-left: .5vw;
//     padding: 0;
//     /*possibly not necessary*/
//     overflow: hidden;
//
// }

/*put on left side of page*/
.OG {
    padding-top: 1%;
    float: left;

}


.OG a {
   /*seperate elements using block*/
    font-size: 100%;
    display: block;
    color: rgba(0,0,0,.7);
    text-align: center;
    padding-right: 45px;
    text-decoration: none;
}
/*add hover properties to links*/
.OG a:hover {
  color: black;
	//font-weight: bold;
}
#faux{
  font-size: 200%;
  //padding-right: 50px;
  margin-top: -1%;

}
#faux:hover{
  color: tomato;
  cursor: pointer;
  //cursor:
}
#instagram{
	float:right;
	font-size: 155%;
	margin-right: 7%;
  margin-top: -.3%;
}
#VSCO{
	font-size: 100%;
	font-family: 'Lato', sans-serif;
}
#VSCO_ls{
	float: right;
	margin-right: -1%;
	margin-top: .3%;
}

.box{
//  grid-area: box;
  margin-top: 20%;
  padding: 4%;
  padding-top: 2%;
  margin-left: 55%;
  margin-right: 10%;
  //background-color: rgba(139,0,0,.3);
  background-color: rgba(255,255,255,.8);
  color: rgb(80,80,80);
  text-align: center;
  // margin-top: 2%;
  //padding-bottom:
}
#gem{
  font-size: 300%
}
#gem:hover{
  transition: all 0.7s ease-out;
  cursor: pointer;
  color: red;
}

// .product_page_image{
//   background-image: url("../img/product_header.webp");
//   background-repeat: no-repeat;
//   //background-position: center;
//   //background-attachment: fixed;
//   background-size: 100%;
//   padding-bottom: 40%;
//
// }
//
// .product_page_text{
//   background-color: rgba(255,255,255,.9);
//   //margin-top: 20%;
//   color: black;
// }

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    background-image: url("../img/product_header.webp");
    background-size: 100%;
    padding-bottom: 40%;

    //margin-bottom: 70%;
}

// /* Bottom left text */
// .bottom-left {
//     position: absolute;
//     bottom: 8px;
//     left: 16px;
// }
//
// /* Top left text */
// .top-left {
//     position: absolute;
//     top: 8px;
//     left: 16px;
// }
//
// /* Top right text */
// .top-right {
//     position: absolute;
//     top: 8px;
//     right: 16px;
// }
//
// /* Bottom right text */
// .bottom-right {
//     position: absolute;
//     bottom: 8px;
//     right: 16px;
// }

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(255,255,255,.8);
    color: black;
    font-size: 150%;
}
//
// .box:hover{
//   //transition: all 0.4s ease-out;
//   //background-color: rgba(255,255,255,);
// }
.skis{
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
  //margin-bottom: 4%;
}
figcaption{
  //text-align: center;
  margin-left: 22%;
  padding-top: 2%;

}

.footer{
  margin-top: 12%;
  background-color: white;
  padding: 5%;
}
.contact{
  margin-left: 10%;
}
.faq_list{

  list-style-type: none;
  margin: 0;
  // padding-left:1.5vw;
  // padding-top: 2.0vw;
  // padding-bottom: 2.0vw;
  overflow: hidden;
  color: black;

}
.faq_header{
  text-align: center;
}
.faq_e a{
  font-style: none;
  color: black;
  text-decoration: none;
}

.about_list{
  list-style-type: none;
  margin: 0;
  // padding-left:1.5vw;
  // padding-top: 2.0vw;
  // padding-bottom: 2.0vw;
  overflow: hidden;
  color: black;
}

.about_e a{
  font-style: none;
  color: black;
  text-decoration: none;
}

.product_footer{
  margin-top: 10%;
  background-color: white;
  padding: 5%;
  border-top: solid;
}
.s1:hover{

}
.about_grid{
  margin-top: 10%;
}
.about_image{
  position: relative;
  text-align: center;
  color: white;
  background-image: url("../img/about.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 20%;
  margin-left: 5%;
  //height: 100%;
  // width: 100%;
  padding-bottom: 40%;
  //border-style: solid;
}

.about_description{
  padding-right: 10%;
}

.about_paragraph{
  // margin-right: 10%;
}

.about_header{

}

.container2 {
    position: relative;
    text-align: center;
    color: white;
    background-image: url("../img/support_image.webp");
    background-size: 100%;
    padding-bottom: 40%;

    //margin-bottom: 70%;
}

.centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(255,255,255,.8);
    color: black;
    font-size: 150%;
}

.faqs{
  margin-left: 5%;
  margin-right: 30%;
  line-height: 200%;
  margin-top: 4%;
}
